.signin__container {
  height: 350px;
  display: grid;
  place-items: center;
  border: 1px solid #d9d9d9;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
}
input#basic_email {
  padding: 12px !important;
  border-radius: 3px;
  background-color: #fff;
}

input#basic_password {
  padding: 7px 7px 7px 0;
  border-radius: 3px;
  background-color: #fff;
}

.sign__in {
  width: 250px;
  height: 45px;
  background-color: blueviolet;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

.ant-form-item-control-input-content {
  display: grid !important;
  place-items: center !important;
}

.hero {
  height: 90vh !important;
}

.sub-title {
  color: blueviolet;
  font-size: 2em;
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
